<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/fontawesome-free/all.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/flag-icon/flag-icon.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/datatables/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/datatables/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Resources/Styles/Plugins/adminlte/adminlteAr.css">
    <link rel="stylesheet" href="~/Resources/Styles/Custom/customStyleSMAr.css">
    @RenderSection("stylesSMLoginAr", false)

</head>
<body ng-app="rootModule" class="hold-transition sidebar-mini">

    <div class="" ng-controller="rootCtrl">

        <div>

            @RenderBody()

        </div>


    </div>

    @Scripts.Render("~/bundles/angular")

    <script src="~/Resources/Scripts/Plugins/Js/jquery.min.js"></script>
    <script src="~/Resources/Scripts/Plugins/Js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>


    <script src="~/Resources/Scripts/Plugins/Js/adminlte.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/Resources/Scripts/Plugins/Js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Resources/Scripts/Plugins/Js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Resources/Scripts/Plugins/Js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Resources/Scripts/Plugins/Js/datatables/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>

    @*<script src="~/Resources/Scripts/Plugins/AngularJs/angular-translate.js"></script>*@
    @*@RenderSection("Scripts", required: false)*@


    <!-- Custom -->
    <script src="~/Resources/Scripts/Custom/AngularJs/Modules/rootModule.js"></script>
    <script src="~/Resources/Scripts/Custom/AngularJs/Controllers/rootCtrl.js"></script>
    <script src="~/Resources/Scripts/Custom/AngularJs/Controllers/smLoginCtrl.js"></script>
    <script src="~/Resources/Scripts/Custom/AngularJs/translation.js"></script>
    <script src="~/Resources/Scripts/Custom/AngularJs/Services/filterTableListService.js"></script>
    <script src="~/Resources/Scripts/Custom/AngularJs/Factory/commonHelper.js"></script>

    <!-- Dashboard-->
    <script src="~/Pages/POSManager/Dashboard/Main/Controllers/mainDashboardController.js"></script>
    <!-- POS-->
    <script src="~/Pages/POSManager/POS/Main/Controllers/mainPOSController.js"></script>
    <script src="~/Pages/POSManager/POS/Invoice/Controllers/invoiceController.js"></script>
    <script src="~/Pages/POSManager/POS/Transaction/Controllers/transactionController.js"></script>
    <script src="~/Pages/POSManager/POS/Transaction/Controllers/fuelTransactionInfoPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Transaction/Controllers/dryTransactionInfoPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Refund/Controllers/refundController.js"></script>
    <script src="~/Pages/POSManager/POS/Refund/Controllers/fuelRefundInfoPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Refund/Controllers/dryRefundInfoPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Refund/Controllers/createNewfuelRefundPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Refund/Controllers/createNewDryRefundPopupController.js"></script>
    <!-- Invntory-->
    <script src="~/Pages/POSManager/Inventory/Main/Controllers/mainInventoryController.js"></script>
    <!-- Transfer-->
    <script src="~/Pages/POSManager/POS/Transfer/Controllers/transferController.js"></script>
    <script src="~/Pages/POSManager/POS/Transfer/Controllers/fuelTransferInfoPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Transfer/Controllers/dryTransferInfoPopupController.js"></script>
    <!-- Reception-->
    <script src="~/Pages/POSManager/POS/Reception/Controllers/receptionController.js"></script>
    <script src="~/Pages/POSManager/POS/Reception/Controllers/fuelReceptionStartFillingController.js"></script>
    <script src="~/Pages/POSManager/POS/Reception/Controllers/dryReceptionInfoPopupController.js"></script>
    <!-- Transaction and sales-->
    <script src="~/Pages/POSManager/POS/TransactionAndSales/Controllers/transactionAndSalesController.js"></script>
    <!-- Receipts-->
    <script src="~/Pages/POSManager/POS/Receipts/Controllers/receiptsController.js"></script>
    <script src="~/Pages/POSManager/POS/Receipts/Controllers/createNewReceiptPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Receipts/Controllers/receiptsInfoController.js"></script>
    <script src="~/Pages/POSManager/POS/Receipts/Controllers/receiptsHistoryController.js"></script>
    <!-- Generator-->
    <script src="~/Pages/POSManager/POS/Generator/Controllers/addInvoicePopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/generatorController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/generatorInvoicesController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/generatorHistoryController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/createNewCustomerPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/createNewSubscriptionPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/customerInvoicesPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/showInvoiceDetailsPaidPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/Generator/Controllers/showInvoiceDetailsUnPaidPopupController.js"></script>
    <!-- EOD-->
    <script src="~/Pages/POSManager/POS/EOD/Controllers/eodController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/eodFormController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/shiftFuelPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/shiftDryPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/shiftCarWashPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/shiftCashPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/shiftMoneyTypePopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/karedAlHassanPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/EOD/Controllers/EPaymentPopupController.js"></script>
    <script src="~/Pages/POSManager/POS/MoneyDelivery/Controllers/moneyDeliveryFormController.js"></script>
    <script src="~/Pages/POSManager/POS/MoneyDelivery/Controllers/moneyDeliveryHistoryController.js"></script>
    <script src="~/Pages/POSManager/POS/MoneyDelivery/Controllers/moneyDeliveryIndexController.js"></script>
    <script src="~/Pages/POSManager/POS/MoneyDelivery/Controllers/moneyDeliveryViewController.js"></script>
    <!-- Shifts-->
    <script src="~/Pages/POSManager/POS/Shifts/Controllers/shiftsController.js"></script>
    <script src="~/Pages/POSManager/POS/Shifts/Controllers/shiftsHistoryController.js"></script>
    <script src="~/Pages/POSManager/POS/Shifts/Controllers/shiftsInfoPopupController.js"></script>
    <!-- Nuzzle-->
    <script src="~/Pages/POSManager/POS/Nuzzle/Controllers/nuzzleController.js"></script>


    <!-- Directives-->
    <script src="~/Resources/Scripts/Custom/AngularJs/Directives/tableJquery.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <div class="CustomLoader" ng-show="showLoader"></div>
    <div class="ui-loader-background" ng-show="showLoader"> </div>

</body>
</html>
